.header {
    padding: 20px;
    border: 1px solid rgba(234, 235, 237, 1);
    width: 773px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 45px;

    .flex {
        display: flex;
        gap: 15px;
    }
}

.content {
    padding: 20px;
    border: 1px solid rgba(234, 235, 237, 1);
    width: 773px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;

    h2 {
        font: 700 20px 'Inter';
    }

    ul {
        font: 400 16px 'Inter';
    }
}