*{
    margin: 0;
    padding: 0;
}

body{
    font-style: normal;
    font-family: 'Inter';
    font-weight: 600;
    margin: auto;
    background-color: #f7f7f8;
}

a{
    text-decoration: none;
    color: black;
}

