.vacancies {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }
  
  .list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
  }
  
  .content {
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 24px;
    border-radius: 12px;
    border: 1px solid #eaebed;
  
    h1 {
      font: 600 20px "Inter";
      color: #5e96fc;
    }
  
    .text {
      display: flex;
      gap: 10px;
  
      p {
        font: 600 16px "Inter";
      }
  
      .dot {
        position: relative;
        top: -5px;
      }
    }
  
    .flexLocation {
      display: flex;
      gap: 5px;
  
      p{
        font: 400 16px "Inter";
      }
    }
  }